$color-white:white;
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-primary-light-gray:#f7f7f7;
$color-primary-dark-gray:#eee;
$color-black: black;
$color-dark:#333;
$color-red:red;
$color-gray-light2:#999;
$color-orange:orangered;
$color-primary-orange-light:#ffb900;
$color-primary-red-light:#ff7730;
$color-primary-tertiary-light:#2998ff;
$color-primary-tertiary-dark:#5643fa;
$default-font-size: 1.6rem;


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal:6rem;

