.u-center-text-2{

 text-align: center !important;
}
.u-magin-botom-small{

margin-bottom: 1.5rem !important;
color: #444;
}
.u-magin-botom-meduim{

margin-bottom: 4rem !important;

}
.u-margin-bottom-t-big{

  margin-bottom: 8rem !important;
}
.u-margin-top-t-big{

  margin-top: 8rem !important;
}
.u-margin-top-t-huge{

  margin-top: 10rem !important;
}
